@import 'lib';

body {
  font-family: -apple-system, Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.transparent {
  opacity: 0;
}
.hidden {
  display: none;
}
.negative {
  color: #922!important
}

.noUi-connect {
  background: rgba(90,151,243,.75);
}

._helpInline {
  text-align: center;
  > div {
    padding: 32px;
    box-shadow: $drop-shadow;
    display: inline-block;
    background: #ffffcc;
    border-radius: 16px;
    border: 4px solid #cc9900;
    margin-top: 128px;
    > div {
      text-align: center;
      font-size: 32px;
      color: #cc9900;
      &:not(:last-child) {margin-bottom: 16px}
    }
  }
}

._PathPicker {
  font-size: 13px;
  display: none;
  position: absolute;
  z-index: 1001;
  > ._pickerContent {
    margin-bottom: 16px;
    background: rgba(245,246,246,.94);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 8px solid transparent;
    border-radius: 6px;
    vertical-align: middle;
    box-shadow: $drop-shadow;
    > table {
      > tbody {
        > tr *:not(._selected) {
          color: rgb(160,160,160);
        }
        > tr > td {
          padding: 0px 8px;
          height: 1.2em;
          white-space: nowrap;
        }
      }
    }
  }
}

._BudgetProgressHUD {
  position: absolute;
  z-index: 4002;
  padding: 8px;
  margin-top: -8px;
  font-size: 13px;
  > ._hudContent {
    width: 550px;
    background: rgba(245,246,246,.94);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 8px solid transparent;
    vertical-align: middle;
    box-shadow: $drop-shadow;
    border-radius: 6px;
    ._title {
      margin-bottom: -8px;
      ._content {
        font-size: 28px;
        font-weight: 200;
        border: 0px;
        background-color: transparent;
        height: auto;
      }
    }
    ._graph_title {
      margin-top: 28px;
      margin-bottom: 4px;
      font-size: 18px;
      font-weight: 100;
    }
    ._monthlyGraph {
      margin-top: 6px;
    }
    ._presenter {
      margin-top: -8px;
    }
  }
}

._field {
  position: relative;
}

._toolTip, ._toolTipNoPosition {
  display: none;
  position: absolute;
  background: rgb(255,255,200);
  color: rgb(0,0,35)!important;
  font-size: 11px!important;
  padding: 3px 6px;
  box-shadow:  0px 0px 2px rgba(0,0,0,.4);
  white-space: nowrap;
  z-index: 9999;
  &._toolTip {
    left: 8px;
    top: -20px;
  }
}


._error {
  border: 1px solid red;
  background: #fff0f0;
  ._content {
    margin: 1px !important;
    background: #fff0f0;
  }
}

._error_widget {
  ._content {
    color: red;
    font-size: 11px;
    background: #fff0f0;
    border: 1px solid red;
  }
}

._List {
  ul {
    list-style-type: none;
    padding-left: 24px;  /* list indent */
  }
  li._placeholder {
    margin-top: -2px;
    margin-bottom: 0px;
    border:     1px dashed #8080ff;
    background: #fafaff;
  }
  li._placeholder:first-child:not(:last-child),
  li.ui-sortable-helper:first-child + li._placeholder:not(:last-child) {
    margin-bottom: -2px;
    margin-top:    0px;
  }
  li._placeholder:first-child:last-child,
  li.ui-sortable-helper:first-child + li._placeholder:last-child {
    margin-top:    0px;
    margin-bottom: 0px;
  }
}

._Organize {
  > ._index {
    > a {
      padding-left:   $left-padding-left;
      font-size:      $left-head-font-size;
      font-weight:    100;
      color:         $left-color;
      text-decoration: none;
      margin-bottom: 20px;
      display: block;
      &:first-child {
        margin-top: 16px;
      }
      &:not(:first-child) {
        margin-top: 48px;
      }
    }
  }
  > ._list {
    position: relative;
    padding: 0px 12px;
    width: auto;
    ._heading {
      font-size: 48px;
      font-weight: 100;
      margin-bottom: 24px;
      &:not(:nth-child(1)) {
        margin-top: 80px;
      }
      &:nth-child(1) {
        margin-top: 20px;
      }
    }
    ._text {
      font-size: 32px;
      font-weight: 100;
      margin-top: 16px;
    }
    > * {
      margin-bottom: 32px;
    }
    table {
      border-collapse: collapse;
      padding: 0px 4px;
      color: #222;
      > thead > tr > th {
        font-weight: 400;
        font-size: 18px;
        color: #444;
      }
      > tbody {
        font-size: 13px;
        color: #666;
        border-top:   1px solid #aaa;
        border-right: 1px dotted #aaa;
        > tr {
          &:nth-child(even) {
            background-color: #f6f6f6;
          }
          border-bottom: 1px dotted #aaa;
          > td {
            border-left: 1px dotted #aaa;
          }
        }
      }
    }
    table._parameters tbody {
      td:nth-child(1) ._content, td:nth-child(2) ._content {
        width: 96px;
        text-align: right
      }
      td:nth-child(3) {
        text-align: center
      }
    }
    table._accounts tbody {
      td:nth-child(7) ._content {
        text-align: right;
        width: 80px;
      }
      td:nth-child(3), td:nth-child(7) {
        text-align: center;
        color: red;
      }
      td:nth-child(9) ._content {
        width: 50px;
        text-align: right;
      }
    }
    table._history tbody {
      td:not(:nth-child(1)) ._content {
        text-align: right;
        width: 80px;
      }
    }
    table._budgets tbody {
      td:nth-child(2) ._content, td:nth-child(3) ._content {
        width: 80px;
      }
      td:nth-child(4) {
        text-align: center;
      }
      td:nth-child(9) ._content {
        text-align: right;
        width: 110px;
      }
    }
    table._balances tbody {
      td:not(:nth-child(1)) ._content {
        text-align: right;
        width: 80px;
      }
    }
  }
}

div._budgetHistoryTables {
  position: relative;
}

div._budgetMonthsGraphs, div._activityMonthsGraphs, div._budgetHistoryGraphs {
  position: relative;
}

div._budgetMonthsGraph, div._budgetHistoryGraph, div._activityMonthsGraph, div._progressGraph {
  position: relative;
  &._popup, & > ._popup {
    @include popup-container();
    margin-left: 20px;
    width: 800px;
    > div._popupContent {
      @include popup-content();
      padding-left: 14px;
      > ._heading {
        margin-bottom: 24px;
        > ._heading {
          font-size:     48px;
          font-weight:   100;
        }
        > ._subheading {
          color: #666;
          margin-left: 20px;
          font-size:   20px;
          font-weight: 100;
        }
      }
    }
  }
}

._Navigate {  
  div._TransactionHUD, div._BudgetProgressHUD {
    margin-left: 20px;
    width: auto;
    right: auto;
  }

  ._budgetTables, ._activityTables, ._budgetHistoryTables {
    position: relative;
  }

  div._budgetTable, div._activityTable, div._budgetHistoryTable, div._netWorthTable._popup {
    &._popup {
      @include popup-container();
      width: auto;
      > div {
        @include popup-content();
      }
    }
  }
  div._netWorthTable._popup {
    > div {
      background: rgba(255,255,255,.75);
      > table {
        border-collapse: collapse;
        > * > tr > td {
          white-space: nowrap;
        }
        > * > tr > td:first-child {
          text-align: left;
          padding-right: 8px;
        }
        > tfoot {
          border-top: 1px solid #aaa;
        }
      }
    }
  }
  
  ._progressGraphs {
    ._progressGraph:not(._popup) > div > ._text {
      margin-top: 20px;
      margin-left: 20px;
    }
    ._progressGraph > div {
      > ._heading {
        font-size:     48px;
        font-weight:   100;
        margin-bottom: 24px;
      }
      > ._text {
        font-size: 32px;
        font-weight: 100;
      }
    }
    > ._container {
      > div {padding: 20px 20px 100px 20px}
      > div > ._progressGraph > div {
        > div:not(:first-child) {
          margin-right: 40px;
          margin-left: 40px;
        }
      }
    }
  }

  > ._list > ._sliderHeader {
    margin-top: 20px;
    margin-bottom: 24px;
    display: flex;
    width: 100%;
    > ._heading {
      margin-bottom: 0px;
    }
    > div:first-child {
      margin-right: 20px;
    }
    > div:not(:first-child) {
      margin-left: 8px;
    }
    > div._sliderFill {
      flex: 1;
    }
    > div._slider {
      @media (min-width: 1300px)                         {width: 630px}
      @media (min-width: 1200px) and (max-width: 1299px) {width: 530px}
      @media (min-width: 1100px) and (max-width: 1199px) {width: 430px}
      @media (min-width: 1000px) and (max-width: 1099px) {width: 330px}
      @media (max-width:  999px)                         {width: 200px}
      margin-left: 28px;
      margin-top: 27px;;
    }
  }

  > ._list {
    clear: all;
    overflow-y: view;
    position: relative;
    padding: 0px 40px;
    width: auto;
    ._heading {
      font-size:     48px;
      font-weight:   100;
      margin-bottom: 24px;
    }
    > ._heading {
      &:not(#_Navigate_0) {
        margin-top: 80px;
      }
      &#_Navigate_0 {
        margin-top: 20px;
      }
    }
    ._text {
      font-size: 32px;
      font-weight: 100;
      margin-top: 16px;
    }
    ._tableTitle {
      font-size: 32px;
      font-weight: 100;
      margin-bottom: 8px;
      margin-left: 8px;
    }
    > div {
      margin-top:    50px;
      margin-bottom: 100px;
    }
    > ._budgetYearGraph {
      > div {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
      }
      > ._suffix{
        font-size: 28px;
        font-weight: 100;
      }
      > ._suffix {
        width: 15%;
      }
      > ._graph {
        width: 85%;
      }
      margin-top: 0px;
      margin-bottom: 32px;
    }
    ._budgetTable > div > table > tbody > tr > td, ._activityTable > div > table > tbody > tr > td {
      &:nth-child(14) {
        border-right: 1px solid #aaa;
      }
    }
    ._netWorthTable{
      margin-bottom: 100px;
    }
    div._budgetTable > div > table, div._activityTable > div > table {
      @media (max-width: 1400px)        {
        > thead > tr > th {font-size: 16px}
        > tfoot, > tbody > tr._subTotal {
          > tr > td:first-child, & > td:first-child {font-size: 14px}
        }
        > tfoot, > tbody {
          > tr {
            > td                   {font-size: 11px}
            > td:not(:first-child) {min-width: 58px}
            > td:first-child       {min-width: 125px}
          }
        }
      }
    }
    ._budgetTable > div > table,
    ._activityTable > div > table,
    ._budgetHistoryTable > div > table,
    ._netWorthTable {
      border-collapse: collapse;
      padding: 0px 4px;
      color: #222;
      > thead, > tbody, > tfoot {
        & > tr:not(._subtotal) > ._highlight {
          background: #ffffaa;
        }
        & > tr._subtotal > ._highlight {
          background: #aaaa66;
        }
      }
      > thead > tr > th {
        font-weight: 400;
        font-size: 18px;
        color: #444;
        border-bottom: 1px solid #aaa;
        padding-left: 4px;
        padding-right: 4px;
      }
      > tfoot, > tbody > tr._subtotal {
        border-top: 1px solid #aaa;
        font-weight: 400;
        > tr > td:not(:first-child), & > td:not(:first-child) {
          text-align: right;
        }
        > tr > td:first-child, & > td:first-child {
          font-size: 16px;
        }
      }
      > tfoot, > tbody {
        > tr {
          > td {
            padding: 1px 2px;
            padding-right: 2px;
            font-size: 13px;
          }
          > td:not(:first-child) {
            min-width: 70px;
          }
          > td:first-child {
            min-width: 150px;
          }
          &:nth-child(2) {
            color: #bbb;
          }
        }
      }
      > tbody {
        border-right: 1px solid #aaa;
        > tr._subtotal {
          background: #aaa;
          color: white;
        }
        > tr:not(:first-child):not(._subtotal) > td:first-child {
          border-top: 1px solid transparent;
        }
        > tr:not(._subtotal) {
          &:nth-child(even) {
            background-color: #f6f6f6;
          }
          border-top: 1px dotted #aaa;
          border-bottom: 1px dotted #aaa;
          border-left: 1px dotted #aaa;
          > td {
            &:not(.negative) {
              color: #666;
            }
            &:first-child {
              color: #222;
              font-weight: 400;
              background-color: white;
              padding-right: 10px;
            }
            &:nth-child(1) {
              border-right: 1px solid #aaa;
            }
            &:not(:first-child) {
              text-align: right;
              border-top: 1px dotted #aaa;
              border-bottom: 1px dotted #aaa;
              border-left: 1px dotted #aaa;
            }
          }
        }
      }
    }
    > ._budgetHistoryTables > div._budgetHistoryTable > div > table {
      > tbody > tr > td:not(:first-child) {
        min-width: 80px!important;
      }
    }

    > ._netWorthGraphContainer {
      position: relative;
      > ._curNetWorth {
        background-color: rgba(252,252,252,.5);
        box-shadow: 0px 0px 1px rgba(0,0,0,.3), 0px 0px 3px rgba(0,0,0,.15);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        position: absolute;
        top:  50px;
        left: 150px;
        border: 1px solid #e0e0e0;
        padding: 4px;
        z-index: 2000;
        font-size: 14px;
        font-weight: 100;
        > ._text {
          text-align: center;
          font-size: 24px;
          color: #444;
          margin-top: 0px;
          margin-bottom: 10px;
        }
        > table {
          width: 100%;
          border-collapse: collapse;
          tr {
            > td {padding: 2px}
            > td:nth-child(2) {
              text-align: right;
              padding-left: 8px;
            }
          }
        }
        > table tfoot {
          border-top: 1px solid #aaa;
          margin-top: 100px;
          tr:nth-child(2) * {
            font-weight: 400;
          }
          tr:nth-child(1) {
            color: #bbb;
          }
        }
      }
    }
    > ._budgetCharts, >._activityCharts {
      position: relative;
      > div:not(._popup):not(._TransactionHUD) {
        display: inline-block;
        width:   33%;
      }
      > ._popup:not(._budgetMonthsGraph):not(._activityMonthsGraph) {
        @include translucent-popup();
        width:  200px;
        height: 200px;
      }
    }
  }
}

._IndexedListView {
  position: absolute;
  height: 100%;
  width: 100%;
  > ._index {
    float: left;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar { width: 0 !important }
    border-right: $left-border;
    width: $left-width;
    background-color: $left-background;
  }
  > ._list {
    margin-left: $left-width;
    height: 100%;
    overflow-y: scroll;
  }
}

._IndexedListViewWithHead {
  position: absolute;
  height: 100%;
  width: 100%;
  > ._index {
    position: absolute;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar { width: 0 !important }
    border-right: $left-border;
    width: $left-width;
    background-color: $left-background;
  }
  > ._head {
    background-color: $left-background;
    border-bottom: $left-border;
    position: absolute;
    left: $left-width;
    width: calc(100% - 210px);
    height: 72px;
    > ._budgetYearGraph {
      > div {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
      }
      > ._suffix{
        @media (min-width: 1100px) {font-size: 28px}
        @media (max-width: 1099px) {font-size: 20px}
        font-weight: 100;
      }
      > ._suffix {
        width: 15%;
      }
      > ._graph {
        width: 85%;
      }
    }
  }
  > ._list {
    margin-top: 72px;
    margin-left: $left-width;
    height: calc(100% - 72px);
    overflow-y: scroll;
    > ._ScheduleEntry > ul {
      padding-left: 4px;
    }
  }
}

._progressSidebar {
  > ._sidebar_group {
    > table {
      > tr > td:last-child {
        text-align: right;
      }
      > tr > td._showMoreLess {
        color: #bbb;
      }
    }
  }
}

$progress-min-width:     1024px;
$progress-sidebar-width: 260px;
._progressContents {
  @include sidebar-right-main($progress-min-width, $progress-sidebar-width);
  @include sidebar-right-show($progress-min-width, $progress-sidebar-width);
}
._progressSidebar {
  @include sidebar-right-sidebar($progress-min-width, $progress-sidebar-width);
}

._invisiblePlaceHolder {
  position: absolute;
  visibility: hidden;
  width: 1px;
}
