$drop-shadow: 0px 0px 3px rgba(0,0,0,.6);

$left-background: #eee;
$left-border: 1px solid #ddd;
$left-color: #666;
$left-title-font-size: 36px;
$left-head-font-size: 28px;
$left-subhead-font-size: 18px;
$left-font-size: 14px;
$left-width: 210px;
$left-padding-left: 8px;
$left-margin-sep: 20px;

@mixin dark-popup() {
  padding: 6px;
  position: absolute;
  background: rgba(255,255,255,.94);
  border-radius: 6px;
  box-shadow: $drop-shadow;
  color: #555;
  z-index: 2003;
  &._occluded {
    background: rgb(245,245,245);
    opacity: .7;
    color: rgb(200,200,200);
  }
}

@mixin light-popup() {
  padding: 6px;
  position: absolute;
  background: rgba(255,255,255,.94);
  border-radius: 6px;
  box-shadow: $drop-shadow;
  color: #555;
  z-index: 2003;
}

@mixin translucent-popup() {
  padding: 6px;
  position: absolute;
  background: rgba(250,255,255,.7);
  border-radius: 6px;
  box-shadow: $drop-shadow;
  z-index: 2003;
}

@mixin adaptive-width($narrow,$wide) {
  @media (max-width: 1350px) {
    width: $narrow;
  }
  @media (min-width: 1350px) {
    width: $wide;
  }
}
