@import 'lib';

$table-stripe-background: #f8f8f8;
$table-stripe-background-translucent: rgba(248,248,248,.8);
$table-stripe-background-occluded: rgba(248,248,248,.1);

@mixin transaction-table-base ($head-font, $body-font, $height) {
  position: relative;
  white-space: nowrap;
  border-collapse: collapse;

  td ._content {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    margin:  2px;
  }
  td div._content, td label._content {
    border:  2px solid transparent;
  }

  > thead {
    * {
      font-size: $head-font;
      font-weight: 100;
    }
    > tr {
      > th {
        border-right: 1px solid transparent;
        padding: 0px 2px;
      }
      > th:first-child {
        border-left:  2px solid transparent;
        border-right: 1px solid transparent;
        padding: 0px 2px;
      }
    }
    > tr {
      > th._field_rules > ._content                               {width:  12px}
      > th._field_date > ._content                                {width:  48px}
      > th._field_payee  > ._content                              {width: 240px}
      > th._field_debit > ._content, th._field_credit > ._content {width:  72px}
      > th._field_account > ._content                             {width:  96px}
      > th._field_category > ._content                            {width: 120px}
      > th._field_description > ._content                         {width: 240px}
    }
    tr > th > ._content {
      margin-left:  5px;
      margin-right: 3px;
    }
  }
  > tbody {
    > tr > td, tr > td > div > div > ._content {
      font-size: $body-font;
    }
    > tr:nth-child(even) {
      background: $table-stripe-background
    }
    > tr {
      > td {
        padding: 0px 2px;
        height:  $height;
      }
      >td:not(:last-child) {
        border-right: 1px dotted #ddd;
      }
      >td:last-child  {border-right: 1px solid transparent}
      >td:first-child {border-left:  2px solid transparent}
    }
    > tr > td {
      > ._field_rules > div > ._content
      {width: 12px}
      > ._field_date > div > ._content
      {width: 48px;}
      > ._field_payee > div >  ._content, > ._field_description > div >  ._content
      {width: 240px;}
      > ._field_debit > div >  ._content, > ._field_credit > div >  ._content
      {width: 72px;}
      > ._field_account > div >  ._content, > ._field_account >  ._content {
        width: 96px;
      }
      > ._field_account > div > div._content {
        border: 0px;
        margin-left: 8px;
        margin-right: -4px;
      }
      > ._field_category > div > ._content
      {width: 120px;}
      > ._field_date > div >  ._content, > ._field_debit > div >  ._content, > ._field_credit > div >  ._content
      {text-align: right;}
    }
  }
}

div._fieldTip {
  @include popup-container();
  > div {
    @include tip-popup();
  }
}


@mixin transaction-table ($head-font, $body-font, $height, $stCol, $gx0, $gx1, $gx2, $gx3, $gi0, $gi1, $gi2, $gi3, $gi4, $ge0, $ge1, $ge2) {
  @include transaction-table-base ($head-font, $body-font, $height);
  > tbody {
    > tr._group {
      $group-border-color: #ddd;
      $group-border: 2px solid $group-border-color;
      & > td:last-child {
        border-right: $group-border;
      }
      &._leader {
        > td:first-child {border-left: 2px solid $group-border-color};
        > td {border-top:  $group-border}
        > td {
          &:nth-child(#{$gx0}), &:nth-child(#{$gx1}), &:nth-child(#{$gx2}), &:nth-child(#{$gx3}) {
            border-bottom: $group-border;
          }
        }
      }
      &:not(._leader) {
        > td {
          &:nth-child(#{$gx0}), &:nth-child(#{$gx1}), &:nth-child(#{$gx2}), &:nth-child(#{$gx3}) {
            background: #f0f0f0;
            ._content {
              display: none;
            }
          }
          &:nth-child(#{$ge0}), &:nth-child(#{$ge1}), &:nth-child(#{$ge2}) {
            border-left: $group-border;
          }
        }
      }
      &._last {
        > td {
          &:nth-child(#{$gi0}), &:nth-child(#{$gi1}), &:nth-child(#{$gi2}), &:nth-child(#{$gi3}), &:nth-child(#{$gi4}) {
            border-bottom: $group-border;
          }
        }
      }
    }
  }
}

._TransactionReadOnly {
  @include user-select(auto);
}

._ImportTransactionsTable {
  margin-top: 12px;
  margin-bottom: 32px;
  width: 1000px;
  clear: left;
  > ._title {
    float: left;
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 12px;
    color: #33b1ff;
    font-weight: 300;
  }
  > ._button {
    @include icon-button();
    margin-top: 10px;
    float: right;
    padding-bottom: 6px;
    padding-left: $icon-spacing;
  }
  > form > table {
    clear: left;
  }
}

div._TransactionHUD > ._TransactionReadOnly > ._body > ._TransactionAndRulesTable > form > table {
  @include transaction-table-base (18px, 13px, 18px);
  > tbody > tr > td:first-child, > thead > tr > th:first-child {display: none}
}
div._TransactionHUD > :not(._TransactionReadOnly) > ._body > ._TransactionAndRulesTable > form > table,
table._ImportTransactionsTable._TransactionAndRulesTable:not(._needsAttention) {
  @include transaction-table (18px, 13px, 26px, 1, 1, 2, 3, 6, 4, 5, 7, 8, 8, 4, 6, 7);
}
table._ImportTransactionsTable._TransactionAndRulesTable._needsAttention {
    @include transaction-table (18px, 13px, 26px, 1, 1, 2, 3, 6, 4, 5, 7, 8, 9, 4, 6, 7);
    > * > tr > td > div._field_importTime {
      text-align: right;
      color: #ccc;
    }
}

table._TransactionAndRulesTable {
  > tbody > tr:not(._tuple) {
    background-color: #fdfdfd!important;
    > td {
      height: auto!important;
    }
  }
  td ._field_rules {
    * {
      font-weight: 100;
      padding-bottom: 1px;
    }
    text-align: center;
    &:not(._not_empty) {
      color: #bbb;
    }
    &._not_empty:not(._showing) {
      background-color: #eee;
      color: #aaa;
    }
    &._showing {
      background-color: #33b1ff;
      color: white;
    }
  }
  ._rulebox {
    > div:first-child {
      box-shadow: 0px 1px 1px rgba(0,0,0,.3), 0px 4px 4px rgba(0,0,0,.15);
      width: 100%;
      height: 4px;
    }
    > div:last-child {
      box-shadow: 0px -1px 1px rgba(0,0,0,.3), 0px -4px 4px rgba(0,0,0,.1);
      width: 100%;
      height: 8px;
      padding: -4px;
    }
  }
  ._ImportRulesView {
    padding-top: 10px;
    padding-bottom: 10px;
    table {
      border-collapse: collapse;
      position: relative;
    }
    fieldset {
      fieldset {
        legend {
            span {
              padding-left: 4px; padding-right: 4px;
            }
        }
      }
      &._rule {
        position: relative;
        padding-left: 3px;
        padding-right: 3px;
        margin-bottom: 8px;
        &._nomatch {
          opacity: 0.5;
          border: 1px solid #e00;
          > legend > span {
            color: #e00000!important;
          }
        }
        border: 1px solid #ccc;
        > legend {
          > span {
            font-size: 24px;
            vertical-align: 20%;
            font-weight: 100;
            color: #bbb;
            &:first-child {
              color: #33b1ff;
              font-weight: 300
            }
          }
          button {vertical-align: 70%}
        }
      }
      &._part {
        border: 1px solid #ddd;
        margin-top: 6px;
        > legend span {
          font-size: 18px;
          color: #33b1ff;
          vertical-align: 24%;
       }
      }
      > fieldset > table > tbody > tr {
        > td {
          padding: 0px 2px;
        }
        > td:not(:last-child):not(:first-child) {
          border-right: 1px dotted #ddd;
        }
        > td:last-child  {border-right: 1px solid transparent}
        > td:first-child {border-left:  2px solid transparent; border-right: 1px solid transparent}
      }
    }
    > fieldset > fieldset > table > tbody > tr > td > ._field > ._content {
      color: #666;
    }
    > fieldset > fieldset > table {
      margin-left: -22px;
      margin-right: -28px;
    }
    > fieldset > fieldset > table._predicate > tbody > tr:not(:first-child),
    > fieldset > fieldset > table._update > tbody > tr:not(:first-child),
    > fieldset > fieldset > table._add > tbody > tr,
    > fieldset > fieldset > table._split > tbody > tr {
      > td:nth-child(1) {
        > ._content, > div > ._content, > div > div > ._content {
          width: 11px;
        }
      }
      > td:nth-child(2) {
        > ._content, > div > ._content, > div > div > ._content {
          width: 48px;
          text-align: right;
        }
      }
      > td:nth-child(3) {
        > ._content, > div > ._content, > div > div > ._content {
          width: 240px;
        }
      }
      > td:nth-child(4),> td:nth-child(5)  {
        > ._content, > div > ._content, > div > div > ._content {
          width: 72px;
          text-align: right;
        }
      }
      > td:nth-child(6) {
        > ._content, > div > ._content, > div > div > ._content {
          width: 96px;
        }
      }
      > td:nth-child(7) {
        > ._content, > div > ._content, > div > div > ._content {
          width: 120px;
        }
      }
      > td:nth-child(8) {
        > ._content, > div > ._content, > div > div > ._content {
          width: 228px;
        }
      }
    }
    > fieldset > fieldset > table._update > tbody > tr:not(:first-child),
    > fieldset > fieldset > table._add > tbody > tr {
      > td:nth-child(6) {
        > ._content, > div > ._content, > div > div > ._content {
          width: 100px;
        }
      }
    }
    > fieldset > fieldset > table._split > tbody > tr {
      > td:nth-child(6) {
        > ._content, > div > ._content, > div > div > ._content {
          text-align: right;
          font-style: italic;
          color: #aaa;
        }
      }
    }
    > fieldset > fieldset > table._add > tbody {
      > tr._group {
        $group-border-color: #ddd;
        $group-border: 2px solid $group-border-color;
        & > td:last-child {
          border-right: $group-border;
        }
        &._leader {
          > td:nth-child(3) {border-left: 2px solid $group-border-color};
          > td {
            &:nth-child(3), &:nth-child(6) {
              border-bottom: $group-border;
            }
            &:nth-child(3), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7),  &:nth-child(8) {
              border-top:  $group-border
            }
          }
        }
        &:not(._leader) {
          > td {
            &:nth-child(3), &:nth-child(6) {
              background: #f0f0f0;
              ._content {
                display: none;
              }
            }
            &:nth-child(4), &:nth-child(7) {
              border-left: $group-border;
            }
          }
        }
        &._last {
          > td {
            &:nth-child(4), &:nth-child(5), &:nth-child(7), &:nth-child(8) {
              border-bottom: $group-border;
            }
          }
        }
      }
    }
  }
}

._AccountBalanceView {
  > ._title {
    font-size: $left-title-font-size;
    font-weight: 100;
    margin-top: 8px;
  }
  > ._title:not(:nth-child(2)) {
    margin-top: 48px;
  }
  > ._groupName {
    font-weight: 100;
    font-size:   $left-head-font-size;
    margin-top:    32px;
    margin-bottom: 12px;
  }
  ._group {
    > ._tuple {
      display:        flex;
      flex-direction: row;
      justify-content: space-between;
      > ._field > ._content {
        font-weight: 100;
        font-size: 14px;
      }
      ._field:nth-child(1) {
         > ._content {
           width:         120px;
           white-space:   nowrap;
           overflow:      hidden;
           text-overflow: ellipsis;
        }
        flex-grow: 1;
      }
      ._field:nth-child(2) {
        flex-grow: 0;
      }
      ._field_editable_balance > div ._content {
        padding: 0px;
        margin: 0px;
        border: 0px solid transparent;
        background: transparent;
        width: 100px;
        text-align: right;
        font-size: 14px;
      }
    }
    > ._tuple:last-child > ._field_editable_balance {margin-bottom: 8px} // last child doesn't get focus outline without this in Safari (Dec 2017)
  }
}

div._TransactionHUD {
  &._occluded {
    * {color: #bbb!important};
    > div {
      @include backdrop-blur(20px, rgba(255,255,255,.1), rgba(255,255,255,.8));
    }
    tr:nth-child(even) {
      background: $table-stripe-background-occluded!important;
    }
  }
  @include popup-container();
  padding: 8px;
  margin-top: -8px;
  > ._TransactionReadOnly > ._body > div > form > table {
    border-collapse: collapse;
  }
  > ._TransactionReadOnly > ._body > div > form > table > tbody > tr {
    border: 0px!important;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    > td, > td > ._field > div > ._content, td > ._field > ._content {
      margin-top: 0px!important;
      margin-bottom: 0px!important;
      padding-top: 0px!important;
      padding-bottom: 0px!important;
      border: 0px!important;
    }
  }
  &:not(._occluded) > ._hudcontent > ._body > div > form > table > tbody > tr:nth-child(even) {
    background: $table-stripe-background-translucent!important;
  }
  > ._hudcontent {
    @include popup-content-less-transparent();
    width: auto;
    min-width: 700px;
    position: relative;
    > ._title {
      white-space: nowrap;
      position: relative;
      left: 4px;
      font-size: 32px;
      font-weight: 100;
      max-width: 600px;
    }
    > ._buttons {
      position: absolute;
      top:   6px;
      right: 4px;
      > button {
        vertical-align: middle;
      }
      > ._prevButton, > ._nextButton, ._editButton, ._calendarButton {
        padding-top: 4px;
        display: inline-block;
        @include icon-button();
        margin-left: $icon-spacing;
      }
      > ._recategorizeButton {
        margin-bottom: 8px;
        margin-right:  10px;
        color: #33b1ff;
      }
     }
    > ._recategorizeDialogue > div > div, ._recategorizeDialogue > div > ._changeAllButton {
      color: #33b1ff;
      &._disabled {
        color: grey;
        opacity: .3;
      }
    }
    > ._body {
      > ._subtitle {
        font-size: 20px;
        font-weight: 100;
        margin-left: 6px;
      }
      > div > form > table {
        margin-top: 16px;
        color: #444;
        width: 100%;
        font-size: 13px;
        > thead > tr > th {
          border-bottom: 1px solid #888;
        }
        > tfoot > tr {
          > td {
            font-weight: bold;
            border-top:  1px solid #888;
          }
          > td._leftArrow {
            color:       #888;
            font-weight: 100;
            font-style:  italic;
            text-align:  left;
          }
          > td._rightArrow {
            color:       #888;
            font-weight: 100;
            font-style:  italic;
            text-align:  right;
          }
        }
      }
    }
  }
  ._recategorizeDialogue {
    @include popup-container();
    > div {
      width: 325px;
      @include popup-content();
      border-radius: 0px;
      box-shadow: none;
      padding-bottom: 8px;
      padding-left:   16px;
      > div {
        font-size: 11px!important;
        &:first-child {
          font-size: 14px!important;
        }
        &:not(:first-child) {
          font-size: 11px!important;
        }
        display: inline-block;
        &:not(:last-child) {
          margin-right: 8px;
        }
        ._BudgetProgressHUD {
          right: 126px!important;
        }
        &._field_category > div > ._content {
          width: 120px;
        }
      }
      > button {
        font-size: 11px!important;
      }
    }
  }
}


$import-width:  1100px;
$import-sidebar-width: 260px;
._ImportTransactions > ._AccountBalanceView {
  @include sidebar-right-sidebar($import-width, $import-sidebar-width);
}
._ImportTransactionsContents {
  @include sidebar-right-main($import-width, $import-sidebar-width);
  @include sidebar-right-show($import-width, $import-sidebar-width);
}

body > ._import_status_popup {
  @include popup-container();
  > div {
    @include user-select (none);
    position: fixed;
    right:   12px;
    top:     60px;
    padding: 16px;
    @include backdrop-blur(4px, rgba(255,255,255,.80), rgba(255,255,255,.95));
    border-radius: 6px;
    box-shadow: $drop-shadow;
    > div:first-child {
      font-size: 32px;
      color: #33b1ff;
      margin-bottom: 16px;
    }
    > div:not(:first-child) {
      font-weight: 300;
      padding-left: 32px;
      color: #666;
      font-size: 24px;
    }
  }
}


._ImportTransactions {
  position:   absolute;
  width:      100%;
  clear:      both;
  > ._import {
    clear: both;
    margin-left: 10px;
    padding-left: 8px;
    padding-top: 8px;
    &:last-child {
      margin-bottom: 500px;
    }
  }
}

._ApplyPopup {
  @include dark-popup();
  > ._title {
    font-weight: 200;
    font-size: 24px;
    float: left;
  }
  > ._apply_button {
    float: right;
    margin-top: 6px;
  }
  > ._ApplyToTable {
    > form > table {
      > thead > tr > th {
        width: auto;
        font-weight: 600;
        border-bottom: 1px solid #999;
      }
      > tbody {
        > tr {
          * {
            padding: 0;
            margin: 0;
            border: 0;
          }
          > td:not(:last-child) {
            border-right: 1px dotted #666;
          }
          > td:not(:first-child) {
            padding-left: 2px;
          }
          > td:not(:last-child) {
            padding-right: 2px;
          }
        }
      }
    }
  }
}


