@import 'lib';

body {
  margin: 0px;
  > .tabbed {
    overflow-y: scroll;
    height: 100vh;
    > .contents > div > div > div {
      position: absolute;
      width: 100%;
    }
  }
}

body > div._blockEverything {
  z-index: 99999;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  @include backdrop-blur(4px, rgba(0,0,0,.1), rgba(255,255,255,0.5));
  @include user-select (none);
}

.fader {
  opacity: 0;
  transition: 100ms opacity;
}

.fader_slow_disolve {
  opacity: 0;
  transition: 400ms opacity;
}

.fader.fader_visible, .fader_slow_disolve.fader_visible {
  opacity: 1;
  transition: 400ms opacity;
}

body > ._search {
  &._input {
    z-index: 20000;
    position: fixed;
    top: 100px;
    left: 0px;
    width: 100%;
    > div {
      @include popup-content();
      background: rgba(245, 245, 245, 0.7);
      box-shadow: 0px 20px 32px rgba(0,0,0,.45);
      margin-left: auto;
      margin-right: auto;
      width: 700px;
      border: 1px solid #ddd;
      > label {
        margin: 8px;
        > span {
          @include icon-button();
          font-size: 24px;
          margin-right: 8px;
        }
        > * {
          font-size: 24px;
        }
        > input {
          width: auto;
          margin: 8px;
          width: 630px;
          background: transparent;
          border: transparent;
          font-weight: 300;
          color: #666;
          outline: none;
        }
      }
    }
  }
}

div._systemStatus {
  opacity: 0;
  position: fixed;
  right:   20px;
  top:     20px;
  text-align: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0px 0px 1px rgba(0,0,0,.3), 0px 0px 3px rgba(0,0,0,.15);
  z-index: 99999;
  border-radius: 8px;
  &._pending {
    font-size: 12px;
    height:  30px;
    line-height: 30px;
    width:   150px;
    color: rgb(102, 128, 102);
    background-color: rgba(100, 255, 100, 0.3);
  }
  &._delayed {
    font-size: 18px;
    height:  40px;
    line-height: 40px;
    width:   220px;
    text-align: center;
    color: rgb(102, 95, 61);
    background-color: rgba(255, 225, 0, 0.4);
  }
  &._down {
    font-size: 32px;
    height:  80px;
    line-height: 80px;
    width:  350px;
    color: rgb(255,245,245);
    background-color: rgba(255, 50, 50 , 0.7);
  }
}

._accountsEdit {
  position: relative;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  > ._group:not(:first-child) {
    margin-top: 80px;
  }
  > ._group {
    margin-top: 32px;
    margin-bottom: 64px;
    ._title {
      font-size: 42px;
      font-weight: 300;
      color: #33b1ff;
      margin-bottom: 24px;
    }
    padding: 0px;
    > ._content {
      .ui-sortable {
        margin: 0px;
      }
      .ui-sortable-helper {
        background: white;
      }
      ._placeholder {
        border:     1px dashed rgba(0, 129, 204, .6);
        background: rgba(0, 129, 204, .04);
      }
      padding: 0px;
      > ul {
        list-style: none;
        padding-left: 0px;
        ul {
          list-style: none;
          padding-left: 0px;
        }
        > li {
          margin-bottom: 32px;
        }
        > li > ._label {
          margin-top: 16px;
          margin-bottom: 48px;
          > ._field > div ._content {
            font-size: 24px;
            color: #33b1ff;
            border: 0px solid white;
          }
          margin-bottom: 2px;
        }
        > li > ul {
          * {
            color: #555;
            font-size: 16px;
          }
          border: solid 0.1px #aaa;
          padding-left: 0px;
          list-style: none;
          > li {
            > div {
              padding: 16px;
            }
            border-top: 6px solid #33b1ff;
          }
        }
        ._entry {
          display: flex;
          flex-direction: column;
          > ._leftRight {
            display: flex;
            flex-direction: row;
            > ._left {
              flex-grow: 1
            }
            > ._right {
              flex-grow: 0
            }
          }
          > ._bottom {
            margin-top: 16px;
          }
        }
        ._line {
          ._labeledField {
            vertical-align: top;
            margin-right: 20px;
            > ._label {
              font-size: 14px;
              color: #aaa;
            }
            > ._field {
              border: 1px solid transparent;
            }
            > ._field_apr, > ._field_balance, > ._field_accruedInterest, > ._field_disTaxRate, ._field_taxRate {
              ._content {
                text-align: right
              }
            }
            > ._field_apr ._content {
              width: 60px
            }
            > ._field_disTaxRate ._content, > ._field_taxRate ._content {
              width: 50px;
            }
            > ._field_balance ._content  {
              width: 110px
            }
            > ._field_accruedInterest ._content {
              width: 100px
            }
            > ._field_balanceDate ._content {
              width: 110px;
            }
            > ._field_type {
              padding-top: 2px;
            }
            > ._field_creditBalance, ._field_rateType, ._field_paymentFrequency, ._field_taxType, ._field_taxTable {
              margin-top: 2px;
            }
            > ._field_category, ._field_disCategory, ._field_intCategory, ._field_incCategory, ._field_traCategory, ._field_liquid, ._field_taxDeferred {
              margin-top: 4px;
              > div > ._content ._suffix {
                padding-left: 6px;
              }
            }
          }
          > div, input[type=checkbox], div._suffix {
            display: inline-block
          }
        }
        ._line:not(:last-child) {
          margin-bottom: 16px;
        }
        ._right, ._bottom {
          > div:not(:last-child) {
            margin-bottom: 16px;
          }
          > div > ._label {
            font-size: 14px;
            color: #aaa;
            margin-bottom: 2px;
          }
          > div > ._content {
            border: solid 1px #ccc;
            max-height: 150px;
            overflow-y: scroll;
            ._balanceHistoryTable, ._rateFutureTable {
              td ._content {
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0px;
                margin: 2px;
              }
              td div._content, td label._content {
                border: 2px solid transparent;
              }
              position: relative;
              > tbody > tr > td {
                > ._field_date ._content {
                  width: 100px
                }
                > ._field_amount ._content, ._field_rate ._content {
                  width: 110px;
                  text-align: right
                }
              }
            }
            ._taxDeductionTable {
              padding-left: 4px;
              width: 100%;
              td ._content {
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0px;
                margin: 2px;
              }
              td div._content, td label._content {
                border: 2px solid transparent;
              }
              th ._content {
                font-size: 14px;
                font-weight: 400;
                color: #aaa;
                margin-top:     4px;
                margin-bottom: -4px;
              }
              position: relative;
              > tbody > tr > td {
                > ._field_date ._content {
                  width: 100px
                }
                > ._field_beforeTaxDeductions, > ._field_afterTaxDeductions, > ._field_taxableBenefits, ._field_federalClaim, ._field_provincialClaim {
                  ._content {
                    width: 120px;
                    text-align: right
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

._preferencesEdit {
  width: 600px!important;
  left: calc(50vw - 300px);
  > ._group {
    margin-top: 32px;
    margin-bottom: 32px;
    ._title {
      font-size: 32px;
      color: #33b1ff;
      margin-bottom: 8px;
    }
    > ._content._dark {background: #fafafa}
    > ._content {
      > ._line {
        > div, input[type=checkbox], div._suffix {display: inline-block}
        input[type=checkbox] {margin-right: 10px}
        input[type=checkbox] {vertical-align: 8%}
        input[type=text]     {text-align: right; width: 80px;}
        div._suffix {margin-top: 5px}
        > div:not(:first-child) {
          margin-left: 32px;
        }
      }
      > ._line:not(:first-child) {
        margin-top: 32px;
      }
      ._label {
        font-size: 18px;
        color: #aaa;
      }
      padding: 12px;
      border: solid 0.1px #aaa;
      * {
        color: #555;
        font-size: 20px;
      }
    }
  }
}

._profileEdit {
  width: 940px!important;
  left: calc(50vw - 470px);
  > ._group {
    margin-top: 32px;
    margin-bottom: 32px;
    ._title {
      font-size: 32px;
      color: #33b1ff;
      margin-bottom: 8px;
    }
    > ._content._dark {background: #fafafa}
    > ._content {
      > ._line {
        &:not(:last-child) {margin-bottom: 16px}
        > div {
          font-size: 18px;
          color:     #aaa;
        }
        > input {
          margin-right: 8px;
        }
        > button:first-child {
          background: #33b1ff;
          color:      white;
          border:     4px solid #33b1ff;
        }
        > button:nth-child(2) {
          float:      right;
          border:     4px solid rgb(230, 46, 46);
          background: white;
          color:      rgb(230, 46, 46);
          opacity:    .05;
          &:hover {
            border:     4px solid rgb(230, 46, 46);
            background: rgb(230, 46, 46);
            color:      white;
            opacity: 1;
          }
        }
        > ._errorMessage {
          font-size: 20px;
          display: inline-block;
          margin-left: 16px;
          color: #33b1ff;
        }
        &:nth-child(3) > input {width: 500px}
      }
      padding: 12px;
      border: solid 0.1px #aaa;
      * {
        color: #555;
        font-size: 20px;
      }
    }
  }
  ._tabGroup {
    ._field_c_name  ._content {width: 222px}
    ._field_b_name  ._content {width: 222px}
    ._field_b_start ._content {width: 140px}
    ._field_b_end   ._content {width: 140px}
    display: flex;
    flex-direction: row;
    width: 100%;
    ._tabGroupTabs {
      display: flex;
      flex-direction: column;
      ._tab {
        padding: 12px;
      }
      ._tab._selected {
        border-top:    0.5px solid #aaa;
        border-bottom: 0.5px solid #aaa;
        border-left:   0.5px solid #aaa;
        border-right:  0.5px solid transparent;
        background: white;
      }
      ._tab:not(._selected), ._filler {
        border-top:    0.5px solid transparent;
        border-bottom: 0.5px solid transparent;
        border-left:   0.5px solid transparent;
        border-right: 0.5px solid #aaa;
        background: #fafafa;
        color: #aaa;
        > ._field > div > div._content {
          margin-top: 2px;
          margin-bottom: 2px;
          border: 2px solid transparent;
          padding: 1px;
        }
      }
      ._tab:not(._selected)._add {
        color: #33b1ff;
      }
      ._filler {
        min-height: 0px!important;
        flex: 1;
      }
     }
    ._tabGroupContents {
      border-top:    0.5px solid #aaa;
      border-bottom: 0.5px solid #aaa;
      border-right:  0.5px solid #aaa;
      background: white;
      > ._content:not(._selected) {
        display: none;
      }
      > ._content {
        background: white;
        padding-left: 16px;
        padding-bottom: 12px;
        ._heading {
          padding-top: 6px;
          font-size: 28px;
          color: #33b1ff;
          //font-weight: 300;
          padding-bottom: 8px;
        }
        > ._contentGroup {
          background: #fafafa;
          padding: 12px;
          border: solid 0.1px #aaa;
          margin-right: 12px;
        }
        > ._line {
          display: flex;
          margin-top: 12px;
          margin-right: 12px;
          > button {
            &:not(._disabled) {
              background: #33b1ff;
              border:     4px solid #33b1ff;
            }
            &._disabled       {
              background: rgb(204, 237, 255);
              border:     4px solid rgb(204, 237, 255);
            }
            color:      white;
            &:not(:first-child) {
              background: white;
              color:      #33b1ff;
              margin-left: auto;
            }
          }
        }
        > ._labeledField, > ._line > ._labeledField {
          margin-right: 12px;
          > ._label {
            font-size: 18px;
            color:     #aaa;
          }
        }
        > ._line > ._labeledField > ._readOnlyField {
          padding: 4px;
          border: solid 0.1px #ddd;
          color: #999;
        }
        >._configTypeLine {
          margin-top: 6px;
          padding-bottom: 16px;
        }
      }
    }
  }
  > ._popupContainer {
    @include popup-container();
    > ._addPopup {
      @include user-select (none);
      position: relative;
      padding: 16px;
      @include backdrop-blur(4px, rgba(255,255,255,.80), rgba(255,255,255,.95));
      border-radius: 6px;
      box-shadow: $drop-shadow;
      color: #555;
      > div:nth-child(1), > div:nth-child(3) {
        color: #33b1ff;
        &:nth-child(1) {
          font-size: 22px;
          margin-bottom: 16px;
        }
        &:nth-child(3) {
          font-size: 19px;
          margin-top: 16px;
        }
      }
      > form {
        margin-left: 16px;
        > div {
          margin-top: 4px;
        }
        > div > label {
          > input:first-child {
            margin-right: 8px;
          }
          > span {
            margin-right: 4px;
          }
          > * {
            vertical-align: top;
          }
        }
        > ._dataStorageChoice {
          margin-top: 8px;
          > label > input:nth-child(3) {
            margin-top: 0px;
            margin-bottom: 0px;
          }
          > div {
            font-size: 14px;
            margin-top: 2px;
            margin-left: 28px;
            width: 400px;
            color: rgb(136,170,136);
            font-style: italic;
          }
         }
      }
      > ._errorMessage {
        text-align: center;
        margin-top: 16px;
        margin-bottom: 16px;
        color: rgb(230, 46, 46);
      }
      > div:last-child {
        margin-top: 16px;
        > button {
          border:     4px solid #33b1ff;
          font-size:  16px;
          font-weight: 500;
          &:first-child {
            margin-right: 32px;
            background: #33b1ff;
            color:      white;
          }
          &:last-child {
            color:       #33b1ff;
            background:  white;
          }
        }
      }
      &._confirmProfileDelete {
        > div:first-child {color: rgb(230, 46, 46)}
        > div > button {
          border: 4px solid rgb(230, 46, 46);
          &:first-child {
            background: rgb(230, 46, 46);
          }
          &:not(:first-child) {
            color: rgb(230, 46, 46);
          }
        }
      }
    }
  }
}

._advertisement {
  margin-top: 80px;
  font-style: italic;
  color:       #33b1ff;
  border-radius: 6px;
  border: 2px solid #33b1ff;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  margin-bottom: 16px;
  > div {
    color: #1489cc;
    font-size: 23px;
  }
  > ul {
    margin-top: 18px;
    margin-bottom: 0px;
    margin-left: 30px;
    font-size: 20px;
    color:  #33b1ff;
    > li {
      text-align: left;
      margin-top: 4px;
    }
  }
 }

body > ._passwordHintSent {
  @include popup-container();
  position: fixed;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10001;
  width:   500px;
  > ._popupContent {
    @include popup-content();
    padding: 16px;
    > div:first-child {
      color: #33b1ff;
        font-size: 22px;
        margin-bottom: 16px;
      }
    > div:not(:first-child) {
      color: #888;
    }
  }
}

body > ._whiteout {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  @include backdrop-blur(4px, rgba(0,0,0,.1), rgba(255,255,255,0.5));
  z-index: 10000;
  > ._popupContainer {
    @include popup-container();
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    > ._loginPopup {
      @include popup-content();
      padding: 28px;
      > div:first-child {
        text-align: center;
        color:  #33b1ff;
        font-size: 32px;
        margin-bottom: 32px;
      }
      > div:not(:first-child) {
        color: #aaa;
        font-size: 16px;
        font-style: italic;
        margin-bottom: 8px;
      }
      &._miniLogin > form {
        margin-top: 24px;
        margin-left: 20px;
        margin-right: 32px;
        white-space: nowrap;
        > label {
          display: block;
          margin-top: 8px;
          margin-bottom: 8px;
          > input {
            margin-right: 12px;
            padding-bottom: 10px;
          }
          > span {
            color: #1489cc;
            font-size: 22px;
            vertical-align: middle;
          }
        }
      }
      &:not(._miniLogin) > form {
        > ._forgotPassword {
          margin-top: -8px;
          margin-left: 9px;
          font-size: 12px;
          color: #33b1ff;
        }
        margin-top: 24px;
        > input {
          margin: 0px 6px;
          display: block;
          font-size: 20px;
          color: #555;
          margin-bottom: 12px;
          width: 270px;
        }
        > #passwordHint {font-size: 16px}
        > ._loginButtons {
          margin-top: 32px;
          text-align: center;
          > button {
            border:     4px solid #33b1ff;
            font-size:  16px;
            font-weight: 500;
            &:first-child {
              color:       white;
              background:  #33b1ff;
            }
            &:not(:first-child) {
              color:       #33b1ff;
              background:  white;
            }
            &:not(:last-child) {
              margin-right: 24px;
            }
          }
        }
        > ._loginError {
          font-size:     16px;
          text-align:    center;
          margin-top:    30px;
          margin-bottom: 30px;
          color: rgb(230, 46, 46);
        }
        > ._remember {
          margin: 0px 6px;
          margin-top: 24px;
          > label > * {
            vertical-align: top;
          }
          > label > input {
            margin-right: 8px;
          }
          > label > span {
            @include user-select (none);
            font-size: 16px;
            font-weight: 100;
            &._checked       {color: #777}
            &:not(._checked) {color: #ddd}
          }
        }
      }
    }
  }
}

  //._login_dialogue {
  //  @include user-select (none);
  //  margin-left: auto;
  //  margin-right: auto;
  //  text-align: center;
  //  > ._login_heading {
  //    padding-top: 20px;
  //    padding-bottom: 60px;
  //    font-size: 160px;
  //    color: #33b1ff;
  //    > span:nth-child(1) {font-weight: 100; font-style: italic; padding-right: 32px}
  //    > span:nth-child(2) {font-weight: 600}
  //  }
  //  > ._login_body {
  //    margin-left: auto;
  //    margin-right: auto;
  //    width: 300px;
  //    box-shadow: $drop-shadow;
  //    border-radius: 6px;
  //    padding: 30px 40px;
  //    > div {
  //      margin-top: 10px;
  //      > span:first-child {
  //        font-weight: 400;
  //      }
  //      > span:nth-child(2) {
  //        font-weight: 100;
  //      }
  //    }
  //    > div:first-child {
  //      text-align:center;
  //      font-size: 32px;
  //      font-weight: 200;
  //      color: #33b1ff;
  //      padding-bottom: 40px;
  //    }
  //    //> ._labeledField {
  //    //  > div {
  //    //    color: #aaa;
  //    //    font-size: 16px;
  //    //  }
  //    //  > select {
  //    //    -webkit-appearance: none;
  //    //    font-size: 18px;
  //    //    font-weight: 500;
  //    //    border: 0.5px solid #aaa;
  //    //    padding: 3px;
  //    //    color: #555;
  //    //    width: 260px;
  //    //  }
  //    //}
  //    > div > input {
  //      font-size: 20px;
  //      color: #555;
  //    }
  //    > ._loginError {
  //      font-size: 20px;
  //      font-weight: 200;
  //      margin-top:    30px;
  //      margin-bottom: 30px;
  //      color: rgb(200,0,0);
  //    }
  //    > ._remember {
  //      > label > * {
  //        vertical-align: top;
  //      }
  //      > label > input {
  //        margin-right: 8px;
  //      }
  //      > label > span {
  //        font-size: 16px;
  //        font-weight: 100;
  //        &._checked       {color: #777}
  //        &:not(._checked) {color: #ddd}
  //      }
  //    }
  //  }
  //}

._user_menu_head {
  position:   fixed;
  z-index:    9999;
  color:      white;
  background: #008ee6;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
  @media (min-width: $wide-lower) {
    height: $tab-bar-height - 14px;
    padding-top: 14px;
    font-size: 20px;
  }
  @media (min-width: $medium-lower) and (max-width: $medium-upper) {
    height: $tab-bar-height - 16px;
    padding-top: 16px;
    font-size: 18px;
  }
  @media (max-width: $narrow-upper) {
    height: $tab-bar-height - 18px;
    padding-top: 18px;
    font-size: 15px;
  }
}

._user_menu, ._preferences_menu {
  @include user-select (none);
  position: fixed;
  z-index: 20000;
  padding-top: 6px;
  padding-bottom: 6px;
  @include backdrop-blur(4px, rgba(255,255,255,.80), rgba(255,255,255,.95));
  border-radius: 0px 0px 6px 6px;
  box-shadow: 0px 4px 4px rgba(0,0,0,.4);
  color: #555;
  div._underline {border-bottom: 1px solid #ddd!important; margin-bottom: 6px; padding-bottom: 6px}
  > div:not(._subMenu) {
    padding-left: 10px;
    width: 200px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }
  > div:not(._subMenu)._selected {
    background: #008ee6;
    color:      white;
    border-left: 6px solid #008ee6;
    border-right: 6px solid #008ee6;
    border-top: 3px solid #008ee6;
    border-bottom: 3px solid #008ee6;
  }
  > ._subMenu {
    position: absolute;
    z-index: 9999;
    padding-top: 6px;
    padding-bottom: 6px;
    @include backdrop-blur(4px, rgba(255,255,255,.80), rgba(255,255,255,.95));
    border-radius: 6px;
    box-shadow: 0px 0px 8px rgba(0,0,0,.4);
    color: #555;
    width: auto;
    > div {
      padding-left: 12px;
      padding-right: 12px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      white-space: nowrap;
    }
    > div._selected {
      background: #008ee6;
      color:      white;
      border-left: 6px solid #008ee6;
      border-right: 6px solid #008ee6;
      border-top: 3px solid #008ee6;
      border-bottom: 3px solid #008ee6;
    }
  }
}

body > ._preferences_menu_head {
  padding-left: 8px;
  margin-left: 6px;
  position:   fixed;
  z-index:    9999;
  color:      white;
  background: #008ee6;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 300;
  @media (min-width: $wide-lower) {
    height: $tab-bar-height - 4px;
    padding-top: 14px;
    font-size: 20px;
  }
  @media (min-width: $medium-lower) and (max-width: $medium-upper) {
    height: $tab-bar-height - 8px;
    padding-top: 16px;
    font-size: 18px;
  }
  @media (max-width: $narrow-upper) {
    height: $tab-bar-height - 12px;
    padding-top: 18px;
    font-size: 15px;
  }
}

.tabbed  > .tabs > ._appName {
  margin-left: 16px;
}

.tabbed  > .tabs > ._appName, body > ._preferences_menu_head {
  padding-top: 4px;
  @media (min-width: $wide-lower) {
    margin-right: 60px;
    font-size: 30px;
  }
  @media (min-width: $medium-lower) and (max-width: $medium-upper) {
    padding-top: 8px;
    margin-right: 40px;
    font-size: 26px;
  }
  @media (max-width: $narrow-upper) {
    padding-top: 12px;
    margin-right: 30px;
    font-size: 22px;
  }
  span:nth-child(1) {
    font-style: italic;
    font-weight: 100;
    margin-right: 5px;
    color: #b3e2ff;
  }
  span:nth-child(2) {
    color: #e6f5ff;
    font-weight: 600
  }
}

._user_menu_head {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabbed {
  @include user-select(none);
  > .tabs {
    overflow-x: hidden;
    position: fixed;
    left: 0px;
    right: 0px;
    top:    0px;
    bottom: $tab-bar-height;
    width: 100%;
    height: $tab-bar-height;
    background: #33b1ff;
    font-size: 16px;
    z-index: 9000;
    div {
      float: left;
    }
    > div._login {
      > div:nth-child(3) {
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      float: right;
      > ._menu_showing {
        color: #33b1ff;
        font-weight: 500;
        background: rgba(255,255,255,.80);
        height: 100%;
      }
      margin-right: 20px!important;
    }
    > div._nonTab {
      > ._sharing, > ._status {
        @include icon-button();
        color: white;
        padding-right: 20px;
      }
      > div:last-child {
        padding-left: 20px;
      }
    }
    > div:not(._appName) {
      @media (min-width: $wide-lower) {
        padding-top: 14px;
        margin-right: 22px;
        font-size: 20px;
      }
      @media (min-width: $medium-lower) and (max-width: $medium-upper) {
        padding-top: 16px;
        margin-right: 18px;
        font-size: 18px;
      }
      @media (max-width: $narrow-upper) {
        padding-top: 18px;
        margin-right: 12px;
        font-size: 15px;
      }
      &._login       {font-weight: 300}
      &:not(._login) {font-weight: 500}
      position: relative;
    }
    > div:not(._nonTab).background                     {color: #80ceff}
    > div._login, > div:not(._nonTab):not(.background) {color: white}
  }
  > .tabs > div._hiddenTab   {
    display: none;
  }
  > .contents {
    margin-top: $tab-bar-height;
    > div {
      > div.background {
        display: none;
      }
    }
  }
}

.plus-icon:before {
  content: "+";
}

body > ._getConfigEncryptionPassword {
  z-index: 999999;
  top: 0px;
  left: 0px;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: white;
  > div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    border: 2px solid #80ceff;
    width: 800px;
    padding: 24px;
    > div:first-child {
      font-size: 22px;
      color: #33b1ff;
      margin-bottom: 20px;
    }
    > form {
      > input {
        font-size: 18px;
        color: #888888;
      }
      > span {
        margin-left: 20px;
        font-size: 22px;
        color: rgb(230, 46, 46);
      }
    }
    > ._confirm {
      margin-top: 20px;
      > button:first-child {
        border:     4px solid #33b1ff;
        font-size:  16px;
        font-weight: 500;
        color:       white;
        background:  #33b1ff;
      }
      > button:not(:first-child) {
        margin-left: 32px;
        border:     4px solid #33b1ff;
        font-size:  16px;
        font-weight: 500;
        color:       #33b1ff;
        background:  white;
      }
      //> label {
      //  vertical-align: middle;
      //  margin-left: 32px;
      //  color: #33b1ff;
      //  font-size:  20px;
      //  font-weight: 500;
      //  > select {
      //    margin-left: 16px;
      //    font-size:  16px;
      //  }
      //}
    }
  }
}

body > ._pleaseWait {
  z-index: 99999999;
  top: 0px;
  left: 0px;
  position: fixed;
  height: 100vh;
  width: 100vw;
  @include backdrop-blur (25px, rgba(0,0,0,0.1), rgba(255,255,255,0.94));

  > div {
    font-size: 48px;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #33b1ff;
  }
}

body > ._landing {
  //position: fixed;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  > div {
    display: flex;
    flex-direction: column;
  }
  > ._landingBanner {
    margin: 10px;
    display: flex;
    flex-direction: row;
    height: 50px;
    font-size: 32px;
    color: #33b1ff;
    > div:first-child {
      font-weight: 100;
      font-style: italic;
      margin-right: 4px;
    }
    > div:last-child {
      font-weight: 500;
    }
  }
  > ._landingMain {
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1489cc;
    > div {
      margin: 10px;
    }
    > div:first-child {
      flex-grow: 1;
      > div:first-child {
        font-size: 40px;
        margin-bottom: 32px;
      }
      > div:not(:first-child) {
        font-size: 20px;
        margin-bottom: 4px;
        font-weight: 300;
      }
    }
    > div:nth-child(2) {
      box-shadow: $drop-shadow;
      > img {width: 500px}
    }
  }
  > ._landingBullets {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 710px;
    color: #8fb38f;
    font-size: 20px;
    > ul {
      list-style-type: none;
      > li {
        &:before {
          content: "\2713";
          margin-right: 16px;
          color: #00cc00;
          font-size: 30px;
        }
      }
    }
  }
  > ._landingGo {
    > button {
      margin-top: 30px;
      margin-bottom: 48px;
      margin-left: auto;
      margin-right: auto;
      width: 220px;
      border: none;
      background: #33b1ff;
      color:      white;
      font-size:  30px;
      padding: 16px;
      font-weight: 500;
    }
    > ._badBrowser {
      margin-top: 48px;
      margin-bottom: 48px;
      font-size: 20px;
      font-style: italic;
      text-align: center;
      color: #33b1ff;
    }
  }
  > ._landingTable {
    > div {
      margin-top: 48px;
      margin-bottom: 48px;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #1489cc;
      > div {
        width: 550px;
      }
      > div:first-child {
        margin-right: 20px;
      }
      > div:last-child {
        margin-left: 20px;
      }
      > ._landingTableImage {
        > img {width: 500px}
      }
      > ._landingTableText {
        > div:first-child {
          font-size: 28px;
          margin-bottom: 8px;
        }
        > div:last-child {
          color: #33b1ff;
        }
      }
    }
  }
  > ._landingPrivacy {
    margin-top: 48px;
    margin-bottom: 48px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    > div:first-child {
      color: #666;
      vertical-align: center;
      font-size: 28px;
      margin-bottom: 16px;
    }
    > div:not(:first-child) {
      color: #aaa;
      margin-bottom: 1em;
    }
  }
}